@model IEnumerable<ViewDemo.Models.Album>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<ul style="list-style: none">
    @foreach (var album in Model)
    {
        <li>@album.Title</li>
    }
</ul>


